﻿



@{
    ViewData["Title"] = "Home Page";
}



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
   
     <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/imgc1.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                   Get the news from any where.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                       Get More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/imgc2.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Good site to get great news
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
          
        </div>
        <div class="item">
            <img src="~/images/imgc3.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Good site to get great news
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/imgc2.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Good site to get great news
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
 
</div>
    <br/>
<div >
   <p class="text-center"> Useful link : <a  href="https://javabrains.io/">Learn Technology easy way</a></p>
</div>
<div class="col-lg-12">
    <div class="col-lg-7" >
       
        <iframe width="560" 
                height="315"
                src="http://www.youtube.com/embed/fxCEcPxUbYA"
                frameborder="0"
                allowfullscreen></iframe>
        
    </div>
    <div id="feedControl" class="col-lg-5">Loading...</div>
    <br />
    </div>
   


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
        type="text/javascript"></script>

<style type="text/css">
@@import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");

#feedControl {
margin-top : 10px;

width : 440px;
font-size: 12px;
color: #9CADD0;
}
</style>
<script type="text/javascript">
function load() {
var feed ="http://feeds.bbci.co.uk/news/world/rss.xml";
new GFdynamicFeedControl(feed, "feedControl");

}
google.load("feeds", "1");
google.setOnLoadCallback(load);
</script>

   
